
body{
    
}

#header {
    width: 10pt;
    height:10pt;
     position: fixed;
     top: 10pt;
     left: 100;
     background-color: black;
}

#container {
    width: 10pt;
    height:10pt;
     position: fixed;
     top :20;
     left: 100;
     background-color: black;
}
#first {
    width: 10pt;
    height:10pt;
     position: fixed;
     top: 30;
     left: 110;
     background-color: black;
}
#second {
     width: 10pt;
    height:10pt;
     position: fixed;
     top: 40pt;
     left: 120;
     background-color: black;
}
#clear {
     width: 10pt;
    height:10pt;
     position: fixed;
     top: 50pt;
     left: 130;
     background-color: black;
}

#header1 {
    width: 10pt;
    height:10pt;
     position: fixed;
     top: 10pt;
     left: 90;
     background-color: black;
}

#container2 {
    width: 10pt;
    height:10pt;
     position: fixed;
     top :-20;
     left: -100;
     background-color: black;
}
#first3 {
    width: 10pt;
    height:10pt;
     position: fixed;
     top: -30;
     left: -110;
     background-color: black;
}
#second4 {
     width: 10pt;
    height:10pt;
     position: fixed;
     top: 50pt;
     left: 105;
     background-color: black;
}
#clear5 {
     width: 10pt;
    height:10pt;
     position: fixed;
     top: 50pt;
     left: 110;
     background-color: black;
}